img {
  width: 100%;
}

.container-landing {
  width: 70% !important;
}
.landing {
  position: relative;
  background: url("/bck.png") no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100vh;
  padding-top: 30vh;
}

.landing-inner {
  padding-top: 80px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
