@media all and (min-width: 480px) {
  .Register {
    padding: 60px 0;
  }

  .Register form {
    margin: 0 auto;
    max-width: 320px;
  }
}





.Register{
	padding: 0px;
	height: 100vh;
	background-image: url('/bck.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}


.Register form {
	padding-top: 30vh!important;
}
@media (min-width: 480px) {
	.Register {
			padding: 0px!important;
	}
}

.whiteBackgroundRegister{
	background-color: white;
	height: 330px;
	padding: 20px;
	/* vertical-align: middle; */
	display: flex;
	flex-direction: column;
	border-radius:5px;
}

.form-group input{
	width: 100%;
    background: white;
    border-radius: 5px;
    height: 20px;
}

.form-group{
	padding: 10px 0;
}

.btn{
	width:101%;
}

.btn-info{
	border-style: none;
    background-color: #03A9F4;
    border-radius: 5px;
    height: 35px;
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
}